
<body>
    <div class="center jumbotron">
        <h2 style="text-align:center; line-height:300%" > Welcome to Ruby Fashion</h2>
    </div>
   
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        
        <div class="carousel-item active">
          <div class="carousel-caption d-none d-md-block">Item 1</div>
          <img class="d-block w-100" src="https://static.wikia.nocookie.net/phobia/images/d/d5/Gray.jpg" alt="First slide" width="250px" height="400px">
        </div>
        
        <div class="carousel-item">
          <div class="carousel-caption d-none d-md-block">Item 2</div>
          <img class="d-block w-100" src=https://images.squarespace-cdn.com/content/v1/59decda418b27ddf3baeb5ba/1507788230139-NFJOFQNJMYH0WL2XJCTM/ke17ZwdGBToddI8pDm48kAEJrbsFhWLqsgpoQx73qC1Zw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpyf-i7HqzWRj6Qnixywj4DB-I0eAIFeuR6DviqjBRr8uBbu3jqDLNXNrXP7XxnmM3k/Black.jpg?format=2500w alt="Second slide" width="250px" height="400px">
        </div>
        
        <div class="carousel-item">
          <div class="carousel-caption d-none d-md-block">Item 3</div>
          <img class="d-block w-100" src="https://i.guim.co.uk/img/static/sys-images/Guardian/Pix/pictures/2013/8/1/1375354802439/Blue---the-colour-008.jpg?width=300&quality=45&auto=format&fit=max&dpr=2&s=d32b70ddf7ecff3771c2d99d32eae422" alt="Third slide" width="250px" height="400px">
        </div>
        
      </div>
      
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
  
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>


    <div class="row">
      <div class="column">
        <div>
           <img src="https://static.wikia.nocookie.net/phobia/images/d/d5/Gray.jpg" alt="Nature" style="width:100%" align="center">
           <h2>Description 1</h2>
        </div>
       
       <div>
           <img src="https://static.wikia.nocookie.net/phobia/images/d/d5/Gray.jpg" alt="Nature" style="width:100%" align="center">
           <h2>Description 2</h2>
        </div>
      </div>
     <div class="column">
        <div>
           <img src="https://static.wikia.nocookie.net/phobia/images/d/d5/Gray.jpg" alt="Nature" style="width:100%" align="center">
           <h2>Description 3</h2>
        </div>
       
       <div>
           <img src="https://static.wikia.nocookie.net/phobia/images/d/d5/Gray.jpg" alt="Nature" style="width:100%" align="center">
           <h2>Description 4</h2>
        </div>
      </div>
     <div class="column">
        <div>
           <img src="https://static.wikia.nocookie.net/phobia/images/d/d5/Gray.jpg" alt="Nature" style="width:100%" align="center">
           <h2>Description 5</h2>
        </div>
       
       <div>
           <img src="https://static.wikia.nocookie.net/phobia/images/d/d5/Gray.jpg" alt="Nature" style="width:100%" align="center">
           <h2>Description 6</h2>
        </div>
      </div>
    </div>
    
    
</body>
