
</head>
    <body>
        <h1 style="text-align:center; line-height:300%" > Forgot password</h1>

        <div style="text-align:center" ><%=@notification%></div>
        <div class="container" >
            <%= form_tag action: 'forgot_pwd' do %> 
                <form method="post" >
                <div style="text-align:center" class="form-group">Email:  <input  style="text-align:center" class="form-control" type="email" name="email" placeholder="Enter your email" pattern="{1,30}"required></div>
                <div style="text-align:center"><input type="submit" value="Send" name="login"></div>
                </form>
            <% end %>
            
            
        
    </div>
    </body>