
</footer>
<footer class="footer" style="text-align:center;padding-bottom:20px;">
    
      <a href=<%=main_main_path%> class="btn btn-default btn-lg" style="width:20%;height:15%;">
        <span class="glyphicon glyphicon-home"></span> 
        <br>Home
      </a>
      
      <a href=<%=main_savedlist_path%> class="btn btn-default btn-lg" style="width:20%;height:15%;">
        <span class="glyphicon glyphicon-th-list"></span> 
        <br>Saved List
      </a>
      
      <a href="#" class="btn btn-default btn-lg" style="width:20%;height:15%;">
        <span class="glyphicon glyphicon-user"></span> 
        <br>Account
      </a>
      
</footer>


      <!--<a href="#" class="btn btn-default btn-lg" style="width:20%;height:15%;">-->
      <!--  <span class="glyphicon glyphicon-barcode"></span> -->
      <!--  <br>Scan-->
      <!--</a>-->