
</footer>
<footer class="footer" style="text-align:center;padding-bottom:20px;">
    
      <a href=<%=main_main_path%> class="btn btn-default btn-lg" style="width:20%;height:15%;">
        <span class="glyphicon glyphicon-home"></span> 
        <br>Home
      </a>
      
      <a href=<%=main_savedlist_path%> class="btn btn-default btn-lg" style="width:20%;height:15%;">
        <span class="glyphicon glyphicon-th-list"></span> 
        <br>Saved List
      </a>
      
      <% if User.find_by_id(session[:current_user_id]) != nil %>
      <a href=<%=main_profile_path%> class="btn btn-default btn-lg" style="width:20%;height:15%;">
        <span class="glyphicon glyphicon-user"></span> 
        <br>Account
      </a>
      <% else %>
      <a href=<%=login_login_path%> class="btn btn-default btn-lg" style="width:20%;height:15%;">
        <span class="glyphicon glyphicon-user"></span> 
        <br>Account
      </a>
      <% end %>
      
      
      
</footer>
